.images-container {
    /* border: 10px blue solid; */
    display: flex;
}
.images-container > .img-container{
    /* display: flex; */
    flex-basis: 40%;
}
.img-container > img {
    width: 100%;
    height: 100%;
}